class <% name -%>Controller {
    constructor() {
        'ngInject';
    }
}

export default class <% name -%> {
    controller = <% name -%>Controller;

    template = `
        <div>
        
        </div>
    `
}